body {
    font-family: "BIZ UDPGothic", sans-serif;
}

button {
    font-weight: bold;
}

.busstop {
    display:block;
    box-sizing:border-box;
    text-align:center;
    font-size:28px;
    padding:20px;
    width:80%;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    border-radius:30px;
}
